.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  height: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.logo {
  display: grid;
  place-items: center;
  color: var(--colorBrandForeground1);
  margin-right: 2px;
}

.text {
  color: var(--colorNeutralForeground3);
}

.brand {
  color: var(--colorNeutralForeground1);
}

.badge:hover {
  & .text,
  & .brand {
    text-decoration: underline;
  }
}
